<%# app/views/contacts/analysis/_links.html.erb %>
<div class="autoscroll">
  <div class="splitcontentleft">
    <h4><%= l(:label_active_links) %> (<%= @contact.roles.active.count %>)</h4>
    <% if defined?(Chartkick) %>
      <div class="chart">
        <%= pie_chart @contact.roles.group(:status).count,
                    colors: ['#4CAF50', '#FFC107', '#F44336'],
                    donut: true,
                    legend: 'bottom' %>
      </div>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %>. (Chartkick gem not installed)</p>
    <% end %>
  </div>
  <div class="splitcontentright">
  </div>
</div>