<li id="search-result-contact-<%= contact.id %>">
  <div class="contact-result">
    <span class="name"><%= contact.name %></span>
    <% if User.current.allowed_to?(:manage_contacts, issue.project) %>
      <%= button_to l(:button_add),
                  issue_contact_issue_links_path(issue, contact_issue_link: { contact_id: contact.id }),
                  class: 'button-small' %>
    <% end %>
  </div>
</li>
