<div class="progress-container card">
  <div class="progress-header">
    <h3 class="card-title"><%= l(:title_merge_status) %></h3>
    <span data-merge-target="progressText">0 / 0 <%= l(:label_fields_resolved) %></span>
  </div>
  <div class="progress-bar">
    <div class="progress-fill" data-merge-target="progressFill" style="width: 0%;"></div>
  </div>
</div>
